body.dark {
  background: #3E0703;
  color: #FFF0C4;
}

body.dark header {
  background: #660B05;
  color: #FFF0C4;
}

body.dark nav button {
  background: #660B05;
  color: #FFF0C4;
}

body.dark nav button:hover {
  background: #8C1007;
}

body.dark nav button.active {
  background: #8C1007;
  color: #FFF0C4;
}

body.dark .search-bar input,
body.dark .search-bar select {
  background: #3E0703;
  color: #FFF0C4;
  border: 1px solid #660B05;
}

body.dark .search-bar button {
  background: #8C1007;
  color: #FFF0C4;
}

body.dark .movie-card {
  background: #660B05;
  border: 1px solid #8C1007;
  color: #FFF0C4;
}

body.dark .info p {
  color: #FFF0C4;
}

body.dark .add-btn {
  background: #8C1007;
  color: #FFF0C4;
}

body.dark .remove-btn {
  background: #3E0703;
  color: #FFF0C4;
}

body.dark .msg {
  color: #FFF0C4;
}
